{% extends "base.html" %}

{% block title %}Ваши напоминания{% endblock %}

{% block content %}
<h1>Напоминания о приеме лекарств</h1>
<ul class="reminder-list">
    {% for reminder in reminders %}
    <li>
        <p><strong>Лекарство:</strong> {{ reminder.course.name }}</p>
        <p><strong>Время:</strong> {{ reminder.time }}</p>
        <p><strong>Дата:</strong> {{ reminder.date }}</p>
        <a href="{{ url_for('edit_reminder', reminder_id=reminder.id) }}" class="btn btn-warning">Изменить</a>
        <a href="{{ url_for('delete_reminder', reminder_id=reminder.id) }}" class="btn btn-danger">Удалить</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
